
*{
	margin: 0px;
	padding: 0px

}
#menutop>ul>li{
	float: left;
	list-style: none;
	line-height: 40px;
	padding: 0px 15px 0px 15px;
	border-left: solid 1px white;	
	position: relative;
 
}
#menutop{
	width: 100%;
	height: 40px;
	background: #78b43d;

	}
img{
	width: 80px;
	height: 40px;
}
#menutop>ul>li a{
	text-decoration: none;
	color: white;
}
#search>a{
	padding-left: 100px;
}
#submenu>li{
	list-style: none;
	clear: left;
	padding-left: 10px;
	border-bottom: solid 1px #78b43d;	
}

}
#menutop>ul>li:hover{
	background-color: white;
	cursor: pointer;

}

#menutop>ul>li:hover #submenu{
    display: block;}

 #menutop>ul>li:hover #submenu li a{
    color: black;
}
#submenu{
	background-color: #68c23e;
    position: absolute;
    top: 40px;
    left: 0px;
    display: none;
    width: 400%;
}
.icon{
 color: white;
 padding-right: 10px;
}
.bars{
	padding-right: 5px;
}
#menutop>ul>li:hover{
	background-color: #68c23e;}
#submenu>li:hover a{
	color: white!important;}
#menutop>ul>li:hover a{
	color: black;}






