
*{
	margin: 0px;
	padding: 0px

}
#menutop>ul>li{
	float: left;
	list-style: none;
	line-height: 40px;
	padding: 0px 15px 0px 15px;
	border-left: solid 1px white;	
	position: relative;
 
}
#menutop{
	width: 100%;
	height: 40px;
	background: #78b43d;

	}
img{
	width: 80px;
	height: 40px;
}
#menutop>ul>li a{
	text-decoration: none;
	color: white;
}
#search>a{
	padding-left: 100px;
}
#submenu>li{
	list-style: none;
	margin-left: 20px;
	border-bottom: solid 1px #78b43d;	
}
#submenu{
	background-color: #68c23e;
    position: absolute;
    top: 40px;
    right: 0px;
    display: none;
    width: 150%;
}

#menutop>ul>li:hover #submenu{
   display: block;
}
#menutop>ul>li:hover #submenu li a{
	color: black;
}
#submenu li:hover{
	background-color: #78b43d;
}
#submenu li:hover a{
  color: white !important;
}
.icon{
 color: white;
 padding-right: 10px;
}
.bars{
	padding-right: 5px;
}

#submenu1>li{
   list-style: none;
   border-bottom: solid 1px white;
}
#submenu1{
	background-color: #78b43d;
	position: absolute;
	display: none;
	width: 100%;
	left: 210px;
	top:40px;}
#submenu>li:hover #submenu1{
	display: block;
}
#submenu>li:hover #submenu1 a{
	color: black !important;
}
